<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="threadPool" type="RedGate.SqlMonitor.Common.Utilities.ConfigurationElements.ThreadPoolSection, RedGate.SqlMonitor.Common.Utilities" />
    <section name="version" type="RedGate.SqlMonitor.Common.Utilities.ConfigurationElements.VersionSection, RedGate.SqlMonitor.Common.Utilities" />
    <section name="networkSettings" type="RedGate.SqlMonitor.Common.Networking.Configuration.NetworkSettingsSection, RedGate.SqlMonitor.Common.Networking" />
    <section name="repositorySettings" type="RedGate.SqlMonitor.Common.Persistence.ConfigurationElements.RepositorySettingsSection, RedGate.SqlMonitor.Common.Persistence" />
    <section name="collectionSettings" type="RedGate.SqlMonitor.Common.Persistence.ConfigurationElements.CollectionSettingsSection, RedGate.SqlMonitor.Common.Persistence" />
    <section name="featureUsageSettings" type="RedGate.SqlMonitor.Common.Utilities.ConfigurationElements.FeatureUsageSettingsSection, RedGate.SqlMonitor.Common.Utilities" />
    <section name="debug" type="RedGate.SqlMonitor.Common.Persistence.ConfigurationElements.DebugSettingsSection, RedGate.SqlMonitor.Common.Persistence" />
  </configSections>
  <debug fakeSchemaUpgrade="false" />
  <version number="1" versionstring="9.0.2.19903" />
  <threadPool minThreads="" maxThreads="" />
  <networkSettings portNum="7399" />
  <repositorySettings slaveMode="false">
    <maintenance dayOfWeek="Sunday" localTimeOfDay="1:00" mode="Sample" />
    <!-- mode may be "Off", "Sample", or "Full" -->
    <!--<purge desiredChunkTimeSeconds="2" minChunkSize="100" />-->
    <dataStore databaseEngine="Mssql" autoUpgrade="true">
      <mssql version="Auto" connectionStringName="DataConnectionString" />
      <!-- valid versions: "Auto", "SQL2005", "SQL2008" -->
    </dataStore>
  </repositorySettings>
  <!-- collectionSettings attributes
    maxTraceFileAge
    ***************
      The Maximum length of time trace file can be kept on the monitored server before deletion.
      This limits how far back trace data for an alert can be sampled.

    maxTraceFileDiskUsage
    *********************
      The maximum disk space that trace file can use (in MB) before deletion.

    reconnectAfterAuthorizationError
    *********************
      Whether SQL Monitor should try to reconnect and continue monitoring after an AuthorizationError is raised
-->
  <collectionSettings maxTraceFileAge="00:15:00" maxTraceFileDiskUsage="1024" reconnectAfterAuthorizationError="true">
    <collectionSchedules>
      <!-- Four schedules are available:
       intervalSchedule
       ****************
         parameters
              interval="hh:mm:ss"

         Collect every hh:mm:ss. The full accepted format is "d.hh:mm:ss.ff".
         [ref: http://msdn.microsoft.com/en-us/library/se73z7b9%28v=VS.90%29.aspx ]


       disabledSchedule
       ****************
         (no parameters)

         A special schedule that disables collection.

       dailySchedule
       *************
         parameters
              hour="hh"
              minutes="mm"

         collect once a day, at the specified local time (24-hour clock)

       weeklySchedule
       **************
         parameters
              dayOfWeek="dddddd"
              hour="hh"
              minute="mm"

         Collect once a week, at the specified local time, on the specified day. Day names are taken from
         the set (Monday .. Sunday)
         [ref: http://msdn.microsoft.com/en-us/library/system.dayofweek.aspx ]


         If a schedule parameter is specified incorrectly, the Base Monitor service will fail to start. A full reason will
         be logged to the Red Gate section of the Event Log.

         The metric is specified by a qualifiedChannelName.

         NB. All schedule times are in the local time zone of the Monitoring Service not UTC
-->
      <!-- Examples
      <schedule qualifiedChannelName="[Cluster].[Machine].[Process]">
        <intervalSchedule interval="00:01:00"/>
      </schedule>
      <schedule qualifiedChannelName="[Cluster].[SqlServer].[Database]">
        <disabledSchedule />
      </schedule>
      <schedule qualifiedChannelName="[Cluster].[SqlServer].[Database].[Table]">
        <dailySchedule hour="1" minute="0" />
      </schedule>
-->
      <schedule qualifiedChannelName="[Cluster].[SqlServer].[Database].[Table].[Index]">
        <weeklySchedule dayOfWeek="Sunday" hour="1" minute="00" />
      </schedule>
    </collectionSchedules>
  </collectionSettings>
  <featureUsageSettings reportFrequency="1440" />
  <!-- reportFrequency in minutes. 1440 minutes = 24hrs -->
  <connectionStrings Redacted="">
  </connectionStrings>
</configuration>