<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="version" type="RedGate.SqlMonitor.Common.Utilities.ConfigurationElements.VersionSection, RedGate.SqlMonitor.Common.Utilities"/>
    <section name="alertingServiceSettings" type="RedGate.SqlMonitor.Common.Persistence.ConfigurationElements.AlertingServiceSettingsSection, RedGate.SqlMonitor.Common.Persistence"/>
  </configSections>
  <version number="1" versionstring="9.0.2.19903"/>
  <alertingServiceSettings settingsLocation="C:\ProgramData\Red Gate\SQL Monitor\RedGate.SqlMonitor.Engine.Alerting.Base.Service.exe.settings.config"/>
  <runtime>
    <gcServer enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RedGate.Licensing.Client" publicKeyToken="7f465a1c156d4d57" culture="neutral"/>

      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <switches>
      <add name="ConnectionPoolPerformanceCounterDetail" value="4"/>
    </switches>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
