<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <section name="version" type="RedGate.SqlMonitor.Common.Utilities.ConfigurationElements.VersionSection, RedGate.SqlMonitor.Common.Utilities, Culture=neutral"/>
    <section name="deploymentSettings" type="RedGate.SqlMonitor.UI.Website.Infrastructure.DeploymentSettingsSection, RedGate.SqlMonitor.UI.Website"/>
    <section name="uiSettings" type="RedGate.SqlMonitor.UI.Website.Infrastructure.UiSettingsSection, RedGate.SqlMonitor.UI.Website"/>
  </configSections>
  <appSettings>
    <!--
      Enable the following line to let all visitors bypass the login screen.
      Note: Logged-in users will still remain logged in, unless you also change the <machineKey> values.
    -->
    <!--<add key="AutoLoginUserName" value="admin" />-->
    <!--
      Enable the following line to replace the default regular expression used to determine whether or not a custom
      metric or custom alert's description contains HTML markup.
    -->
    <!--<add key="ContainsHtmlMarkupPattern" value="specify new regex here"/>-->
    <!--
      Fix deserialize error with long AD group names
    -->
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000"/>
  </appSettings>
  <system.web>
    <!-- If running on .NET 4, uncomment this to disable request validation -->
    <!--<httpRuntime requestValidationMode="2.0" />-->
    <compilation debug="false" tempDirectory="C:\ProgramData\Red Gate\SQL Monitor\Temporary ASP.NET files\">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogIn" timeout="43200"/>
      <!-- 43200 mins = 30 days -->
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="RedGate.SqlMonitor.Common.Domain"/>
        <add namespace="RedGate.SqlMonitor.Channels.Pickle"/>
        <add namespace="RedGate.SqlMonitor.Common.Domain.Settings"/>
        <add namespace="RedGate.SqlMonitor.Common.Utilities"/>
        <add namespace="RedGate.SqlMonitor.Common.Utilities.Functional"/>
        <add namespace="RedGate.SqlMonitor.Default.Names"/>
        <add namespace="RedGate.SqlMonitor.UI.Website"/>
        <add namespace="RedGate.SqlMonitor.UI.Website.Areas.Configuration.Controllers"/>
        <add namespace="RedGate.SqlMonitor.UI.Website.Areas.Configuration.Models"/>
        <add namespace="RedGate.SqlMonitor.UI.Website.Areas.Configuration.Models.About"/>
        <add namespace="RedGate.SqlMonitor.UI.Website.Infrastructure"/>
        <add namespace="RedGate.SqlMonitor.UI.Website.Controllers"/>
        <add namespace="RedGate.SqlMonitor.UI.Website.Extensions"/>
        <add namespace="RedGate.SqlMonitor.UI.Website.Models"/>
        <add namespace="RedGate.SqlMonitor.UI.Website.Models.Overview"/>
        <add namespace="RedGate.SqlMonitor.UI.Website.Properties"/>
        <add namespace="RedGate.SqlMonitor.UI.Website.Util"/>
        <add namespace="RedGate.SqlMonitor.UI.Website.Repositories"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <!-- Cache for 5 secs -->
          <add name="OverviewData" duration="5" varyByParam="*" location="Any" varyByCustom="User"/>
          <add name="OverviewPage" duration="5" varyByParam="*" location="Any" varyByCustom="User"/>
          <add name="AnalysisData" duration="5" varyByParam="*" location="Any" varyByCustom="User"/>
          <add name="AnalysisPage" duration="5" varyByParam="*" location="Any" varyByCustom="User"/>
          <add name="AnalysisChannels" duration="5" varyByParam="*" location="Any" varyByCustom="User"/>
          <!-- Cache for 0 secs -->
          <add name="AlertDetailsPage" duration="0" varyByParam="*" location="Any"/>
          <add name="AlertDetailsData" duration="0" varyByParam="*" location="Any"/>
          <add name="AlertInboxPage" duration="0" varyByParam="*" location="Any"/>
          <add name="AlertInboxData" duration="0" varyByParam="*" location="Any"/>
          <add name="AlertInboxChannels" duration="0" varyByParam="*" location="Any"/>
          <!-- Cache for 24 hrs -->
          <add name="Static" duration="86400" varyByParam="*" location="Any"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.web.extensions/>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="sameorigin"/>
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <mimeMap fileExtension=".pbit" mimeType="application/octet-stream"/>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00"/>
    </staticContent>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule"/>
      <remove name="UrlRoutingModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <remove name="MvcHttpHandler"/>
      <remove name="UrlRoutingHandler"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
    <!-- Enable Custom Errors in IIS 7 -->
    <httpErrors errorMode="Detailed"/>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <!-- Sometimes IIS default is false: https://forums.iis.net/t/1182672.aspx -->
        <fileExtensions allowUnlisted="true">
          <remove fileExtension=".ad"/>
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <gcServer enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mono.Security" publicKeyToken="0738eb9f132ed756" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="4.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <version number="1" versionstring="9.0.2.19903"/>
  <deploymentSettings slaveMode="false" guideEnabled="false">
    <storageComponents baseLocationFile="C:\ProgramData\Red Gate\SQL Monitor\BaseLocation.config"/>
    <sharingSite url="https://sqlmonitormetrics.red-gate.com/" panelUrl="wp-content/appsource.php" downloadUrl="wp-content/plugins/download-custom-metric.php"/>
  </deploymentSettings>
  <uiSettings>
    <!--
        Uncomment the following line to change the tolerance for gaps in data
        (e.g. missed collections or base monitor outages) when rendering the
        graphs on the analysis pages. Default value is 5.
      -->
    <!-- <analysis maxGapsToInterpolate="5" /> -->
    <intercom enabled="true"/>
  </uiSettings>
</configuration>
